body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input#nome{
    width: 70%; /* Define a largura do campo de nome para 70% */
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    color: green;
}

#listaDAgend {
    margin-top: 20px;
}

.agendamento-item {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#esporte{
    width: 50%;
}